@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: roboto;
    background-color: #181819;

    color: white;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    background-color: #181819;
}

.card {
    background-color: #181819;
    padding: 0;
    box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.2);
}

.dropdown-item {
    background-color: #181819;
    color: white;

}

.dropdown-menu {
    background-color: #181819;
}

.titulo {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 2.4em;
    font-weight: 800;
    border-bottom: 1px solid #ff2c55
}

.texto-negrita {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 800;
    font-size: 1.3em;
    border-bottom: 1px solid #ff2c55
}

.seccion {
    margin-top: 50px;
}

.precios {
    font-weight: 600;
}

.boton {
    color: white;
    background-color: #ff2c55
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

.footer_texto {
    color: #ff2c55;
}

.card:hover {
    box-shadow: 5px 10px 20px 1px rgba(255, 44, 85, 0.5) !important;
    transition: all 0.3s linear;
}

.overflow {
    overflow: hidden;
}

.card-img-top {
    transition: all 0.3s ease-in-out;
}

.card-img-top:hover {
    transform: scale(0.9);
}

/* General */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }
  
  /* Input Forms*/
  input[type="text"], input[type="password"]{
    outline: none;
    padding: 20px;
    display: block;
    width: 300px;
    border-radius: 3px;
    border: 1px solid #eee;
    margin: 20px auto;
  }
  
  input[type="submit"] {
    padding: 10px;
    color: #fff;
    background: #0098cb;
    width: 320px;
    margin: 20px auto;
    margin-top: 0;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #00b8eb;
  }
  
  /* Header */
  header {
    border-bottom: 2px solid #eee;
    padding: 20px 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }
  header a {
    text-decoration: none;
    color: #333;
  }
  